<img alt="Burger Logo" class="logo"
  src="https://images.vexels.com/media/users/3/136309/isolated/preview/c6539229ad5c57c313d95711a1e676db-logo-burger-fast-food-by-vexels.png">

<h1 class="title">Eat-Da-Burger!</h1>

<ul class="burger_list">
  {{#each burgers}}
  {{#if devoured}}
  {{> burgers/burger-block devour=false}}
  {{/if}}
  {{/each}}
</ul>

{{!-- <h2>Burgers On Hold!</h2> --}}
<ul class="devoured_list">
  {{#each burgers}}
  {{#unless devoured}}
  {{> burgers/burger-block devour=true}}
  {{/unless}}
  {{/each}}
</ul>





<form class="create-form">

  <div class="form-group">
    {{!-- <label for="ca">Insert the Burgur Name:</label> --}}
    <input type="text" id="ca" name="name">
  </div>
  <button class="submit_btn" type="submit">Add Burger</button>
</form>